{% extends 'btm/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
{% load static %}
<div style="background-color: grey">
<div class="container col-md-8">
  <h2 class="bg-dark text-center text-danger mx-2">Hi user this is About page</h2>
</div>
<div>
<img src="{% static 'images/aboutus1.jpg' %}" style="margin-left: 28%;width:40rem;" class="border rounded">
</div>
<div class="about-section ml-5">
  <h1><u>Our Service</u></h1>
  <h4 class="ml-2">you can  book the latest  bikes what you require without visiting the showroom</h4>
</div>
<h2 class="mx-6 text-center my-3">Our Team</h2>
<div class="card-deck ml-5">
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Sudhakar</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sudhakar@example.com</p>
        <p><button class="button bg-success">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
  	<div class="card">
      <div class="container">
        <h2>Bhanu</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>bhanu@example.com</p>
        <p><button class="button bg-primary">Contact</button></p>
      </div>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button bg-secondary">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}