{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-secondary sticky-top ">
    <a href="{% url 'hm' %}" class="navbar-brand">
        <img src="{% static 'images/logo1.png' %}" alt="logo" style="width:40px;" class="border rounded">
        <span>Bike</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            

            <li class="nav-item">
                <a href="{% url 'hm' %}" class="nav-item nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ab' %}" class="nav-item nav-link active">Aboutus</a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
                <a href="{% url 'allbikes' %}" class="nav-item nav-link active">Allbikes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'allbrands' %}" class="nav-item nav-link active">Allbrands</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
                <a href="{% url 'addbike' %}" class="nav-item nav-link active">Addbike</a>
            </li>
            {% endif %}

            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto" style="margin-right: 70px">

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Hi Welcome {{user.username}}</a>
                <div class="dropdown-menu mx-auto">
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'lgg' %}">Logout</a>
                </div>
            </li>
            {% else %}

            <li class="nav-item">
                <a href="{% url 'rg' %}" class="nav-item nav-link active">Register</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'log' %}" class="nav-link ">Login</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>